<div class="sidebar">
    <div class="brand">
        <i class="fa-solid fa-xmark xmark"></i>
        <h3>Dashboard</h3>
    </div>
    <ul>


        <li>
            <a href="/dashboard" class="sidebar-link 2">
                <i class="fa-solid fa-gear fa-fw"></i>
                <span>Settings</span>
            </a>
        </li>

        <li>
            <a href="/iaagent" class="sidebar-link 2">
                <i class="fa-solid fa-gear fa-fw"></i>
                <span>Ai Agent</span>
            </a>
        </li>


        <li>
            <a href="businessmodel" class="sidebar-link 2">
                <i class="fa-solid fa-gear fa-fw"></i>
                <span>Business model</span>
            </a>
        </li>
        <li>
            <a href="/viewer" class="sidebar-link 2">
                <i class="fa-solid fa-gear fa-fw"></i>
                <span>Test an AI agent</span>
            </a>
        </li>
    </ul>
</div>