<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/all-admin.min.css" />
    <link rel="stylesheet" href="/styles/style-admin.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.3.3/css/searchPanes.bootstrap5.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/3.0.0/css/select.bootstrap5.css">
    <title>Business model</title>
</head>

<body>
    <div class="page-content">
        <%- include('aside') %>
            <main>
                <div class="header">
                    <i class="fa-solid fa-bars bar-item"></i>
                    <div class="search">
                        <input type="search" placeholder="Type A Keyword" />
                    </div>

                    <div class="profile">
                        <span class="bell"><i class="fa-regular fa-bell fa-lg"></i></span>
                        <img src="../images/avatar.png" alt="No Image" />
                    </div>
                </div>
                <div class="main-content">
                    <div class="title">
                        <h1>List</h1>
                    </div>

                    <div class="main-content-boxes">
                        <div class="box">
                            <div class="box-section1">
                                <div class="box-title">
                                    <h2>Business model List</h2>
                                </div>
                            </div>
                            <div class="general-info-section2">
                                <%- include('datatable') %>
                            </div>
                        </div>

                        <div class="box">
                            <div class="box-section1">
                                <div class="box-title">
                                    <h2>Add Business model</h2>
                                    <p>General Information About Business model</p>
                                </div>
                            </div>
                            <div class="general-info-section2">
                                <form onsubmit="return false;">
                                    <label for="first-name">Name</label>
                                    <input type="text" placeholder="Name" id="name" value="" />

                                    <label for="first-name">Adress</label>
                                    <input type="text" placeholder="Adress" id="adress" value="" />

                                    <label for="first-name">Web link</label>
                                    <input type="text" placeholder="Web link" id="web_link" value="" />


                                    <h6>Important </h6>
                                    <div
                                        style="background: #f5f5f5;padding:12px; font-weight: bold;border-radius: 5px; overflow-x: auto;  font-family: monospace;">
                                        <p>Une liste de produit nourrit l'IA sur les produits que vous vendez afin de
                                            realiser un accompagnement personnalisé </p>
                                        <ul>
                                            <li>Les prix</li>
                                            <li>Les noms</li>
                                            <li>Les descriptions</li>

                                        </ul>
                                        <p>Vous devez directement uploader votre liste </p>


                                        <p>Vous pouvez telecharger des exemples de liste sql ou excel , ou json avec ces
                                            liens
                                            externes
                                        </p>

                                        <h6 style="font-weight: bold">https://solutis.vip/get_test_product/sql</h6>
                                        <h6 style="font-weight: bold">https://solutis.vip/get_test_product/xsls</h6>
                                        <h6 style="font-weight: bold">https://solutis.vip/get_test_product/json</h6>

                                    </div>
                                    <br>
                                    <label style="color: white;" for="apiweb_link" class="custom-file-upload">
                                        Ajouter un fichier de produits
                                    </label>
                                    <input type="file" id="apiweb_link" style="display: none;" />

                                    <style>
                                        /* Style pour le label personnalisé */
                                        .custom-file-upload {
                                            background-color: #00796b;
                                            /* Couleur de fond du bouton */
                                            color: white;
                                            /* Couleur du texte */
                                            padding: 10px 20px;
                                            /* Espacement intérieur */
                                            font-size: 16px;
                                            /* Taille de la police */
                                            border: 2px solid #004d40;
                                            /* Bordure du bouton */
                                            border-radius: 8px;
                                            /* Coins arrondis */
                                            cursor: pointer;
                                            /* Curseur en forme de main */
                                            font-weight: bold;
                                            /* Texte en gras */
                                            display: inline-block;
                                            /* En ligne */
                                            text-align: center;
                                            /* Centrer le texte */
                                            transition: background-color 0.3s ease, transform 0.3s ease;
                                        }

                                        /* Effet au survol du bouton */
                                        .custom-file-upload:hover {
                                            background-color: #004d40;
                                            /* Changer la couleur au survol */
                                            transform: scale(1.05);
                                            /* Légère augmentation de taille au survol */
                                        }

                                        /* Effet au focus du fichier sélectionné */
                                        input[type="file"]:focus+.custom-file-upload {
                                            border-color: #004d40;
                                            /* Bordure change au focus */
                                        }
                                    </style>


                                    <label for="first-name">Description</label>
                                    <textarea name="description" id="description" placeholder="Description"></textarea>
                                    <br><br>
                                    <label for="topics">Topics</label>
                                    <div class="multi-select">
                                        <button type="button" class="select-option"
                                            data-value="ecommerce">E-commerce</button>
                                        <button type="button" class="select-option"
                                            data-value="consulting">Consulting</button>
                                        <button type="button" class="select-option" data-value="software">Développement
                                            logiciel</button>
                                        <button type="button" class="select-option" data-value="marketing">Marketing
                                            digital</button>
                                        <button type="button" class="select-option" data-value="design">Design
                                            graphique</button>
                                        <button type="button" class="select-option"
                                            data-value="real-estate">Immobilier</button>
                                        <button type="button" class="select-option" data-value="education">Éducation en
                                            ligne</button>
                                        <button type="button" class="select-option"
                                            data-value="healthcare">Santé</button>
                                        <button type="button" class="select-option" data-value="fitness">Fitness et
                                            bien-être</button>
                                        <button type="button" class="select-option"
                                            data-value="food">Restauration</button>
                                        <button type="button" class="select-option" data-value="travel">Voyages et
                                            tourisme</button>
                                        <button type="button" class="select-option" data-value="finance">Services
                                            financiers</button>
                                        <button type="button" class="select-option"
                                            data-value="app-development">Développement d'applications mobiles</button>
                                        <button type="button" class="select-option"
                                            data-value="content-creation">Création de contenu</button>

                                    </div>
                                    <br>
                                    <p id="selected-topics"></p>
                                    <br><br>
                                    <div class="email">
                                        <a href="/#">Change</a>
                                    </div>
                                </form>

                                <style>
                                    .multi-select {
                                        display: flex !important;
                                        gap: 10px !important;
                                        flex-wrap: wrap !important;
                                    }

                                    .select-option {
                                        padding: 10px 15px;
                                        border: 1px solid #ddd !important;
                                        border-radius: 5px;
                                        color: black !important;
                                        background-color: #d5d5d5 !important;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                    }

                                    .select-option.selected {
                                        background-color: #3a3a3a !important;
                                        color: #fff !important;
                                        border-color: #565756 !important;
                                    }

                                    .select-option:hover {
                                        background-color: #e8f5e9;
                                    }
                                </style>
                            </div>

                        </div>


                    </div>
                </div>
            </main>
    </div>

    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.1/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.3.3/js/dataTables.searchPanes.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.3.3/js/searchPanes.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/select/3.0.0/js/dataTables.select.js"></script>
    <script src="https://cdn.datatables.net/select/3.0.0/js/select.bootstrap5.js"></script>
    <script>
        new DataTable('#example', {
            layout: {
                top1: 'searchPanes',
                paging: true,
                searching: true,
                ordering: true,
                pageLength: 5,
            }

        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const options = document.querySelectorAll(".select-option");
            const selectedTopicsDisplay = document.getElementById("selected-topics");

            const selectedTopics = new Set();

            options.forEach((option) => {
                option.addEventListener("click", () => {
                    const value = option.dataset.value;

                    // Toggle selection
                    if (selectedTopics.has(value)) {
                        selectedTopics.delete(value);
                        option.classList.remove("selected");
                    } else {
                        selectedTopics.add(value);
                        option.classList.add("selected");
                    }

                    // Update selected topics display
                    selectedTopicsDisplay.textContent =
                        selectedTopics.size > 0
                            ? `${Array.from(selectedTopics).join(", ")}`
                            : "";
                });
            });
        });


    </script>
    <script src="/js/BusinessModelReqHandler.js"></script>
</body>

</html>