<table id="example" class="table table-striped nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>IdKey</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>



    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>IdKey</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>