<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/auth.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&amp;display=swap" rel="stylesheet" />
    <title>LOGIN</title>
</head>

<body>
    <div class="container">
        <div class="title">
            <p>LOGIN</p>
        </div>

        <form>
            <div class="user_details">

                <div class="input_box">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Enter your email" required>
                </div>

                <div class="input_box">
                    <label for="pass">Password</label>
                    <input type="password" id="pass" placeholder="Enter your password" required>
                </div>

            </div>

            <div class="log_btn">
                <input type="button" value="Login">
            </div>
        </form>
    </div>
    <script src="/js/notiflix/dist/notiflix-notify-aio-3.2.8.min.js"></script>


    <script src="/js/AuthServices.js">

    </script>

</body>

</html>